table{
    font-size:12px !important;
}

.container{
    width:90%!important;
}

.table-fixed thead {
    width: 100%;
}
.table-fixed tbody {
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
    height:35px;
}

#top_table_storage{
    width:100%;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    margin: 0;
}

.diagramm_table{
    height:98.5%;
}

.loader{
    width:100%;
    height:90%;
    position: absolute;
    left:0;
    background-color:#ddd;
    //opacity: 0.6;
    z-index: 5;
    text-align: center;

}

.loader_animation{
    position: relative;
    display: inline-block;
    top:40%
}

.settings:hover{
    text-shadow: 0.3px 0.3px 0.5px #888;
}

.settings:active{
    text-shadow: 0.5px 0.5px 0.5px #ccc;;
}

.settings_window{
    position: relative;
    top:0px;
    left:0px;
    text-align: right;
}

.range_settings_window{
    padding:0;
    width: 80px!important;
    display: inline-block!important;
    margin-right: 3px;
    float:left;
    height: auto;
}
.number_settings_window{
    padding:0 6px;
    float:left;
    width: 40px;
    display: inline-block;
    margin-right: 5px;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.loading:before {
    content: "";
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(240, 240, 240, 0.6);
}

.loading:after {
    content: "";
    position: absolute;
    z-index: 1001;
    left: 25%;
    top: 50%;
    right: 25%;
    margin: -10px;
    height: 15px;
    background-size: 40px 40px;
    border-radius: 5px;
    background-color: #62c462;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}